{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    <meta name="referrer" content="no-referrer">
  <title>Movie Recommend From Douban</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/static/bootstrap/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/bootstrap/css/stylish-portfolio.min.css" rel="stylesheet">

    <style TYPE="text/css">
        <!--
        A:link {text-decoration:none;color:whitesmoke}
        A:visited {text-decoration:none;color:whitesmoke}
        A:hover {text-decoration:none;color:black}
        A:active {text-decoration:none;color:whitesmoke}
        -->
    </style>


</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start From Top</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About Douban</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Movie Rec</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Movie Rank</a>
      </li>
{#      <li class="sidebar-nav-item">#}
{#        <a class="js-scroll-trigger" href="#contact">Contact us</a>#}
{#      </li>#}
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Movie Recommendation</h1>
      <h3 class="mb-5">
        <em>A Free Website For Douban Movie Recommendation</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Start Your Movie Journey!</h2>
          <p class="lead mb-5">Visit
              <span style="color: #1d2124"><a href="https://movie.douban.com/" >Douban Movie</a>!</span></p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
{#          <h3 class="text-secondary mb-0">Rank</h3>#}
        <h2 class="mb-5">Here is the Movie Rec </h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">

{#                <span class="service-icon rounded-circle mx-auto mb-3">#}
{#                    <i class="icon-screen-smartphone"></i>#}
{#                    <a id="text_1" href=""></a>#}
{#                </span>#}
            <div>
                <a href="" id="rec_1">
                    <img id="img_1" src=""/>
                </a>

                <div>
                    <a id="text_1" href="" ></a>
                </div>

            </div>
{#          <h4>#}
{#            <strong>Echarts</strong>#}
{#          </h4>#}
{#          <p class="text-faded mb-0"></p>#}
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
{#          <span class="service-icon rounded-circle mx-auto mb-3">#}
{#            <i class="icon-pencil"></i>#}
{#          </span>#}
{#          <h4>#}
{#            <strong>Redesigned</strong>#}
{#          </h4>#}
{#          <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>#}
            <div>
                <a href="" id="rec_2">
                    <img id="img_2" src=""/>
                </a>

                <div>
                    <a id="text_2" href="" ></a>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
{#          <span class="service-icon rounded-circle mx-auto mb-3">#}
{#            <i class="icon-like"></i>#}
{#          </span>#}
{#          <h4>#}
{#            <strong>Favorited</strong>#}
{#          </h4>#}
{#          <p class="text-faded mb-0">Millions of users#}
{#            <i class="fas fa-heart"></i>#}
{#            Start Bootstrap!</p>#}
            <div>
                <a href="" id="rec_3">
                    <img id="img_3" src=""/>
                </a>

                <div>
                    <a id="text_3" href="" ></a>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6  mb-5 mb-md-0">
{#          <span class="service-icon rounded-circle mx-auto mb-3">#}
{#            <i class="icon-mustache"></i>#}
{#          </span>#}
{#          <h4>#}
{#            <strong>Question</strong>#}
{#          </h4>#}
{#          <p class="text-faded mb-0">I mustache you a question...</p>#}
            <div>
                <a href="" id="rec_4">
                    <img id="img_4" src=""/>
                </a>

                <div>
                    <a id="text_4" href="" ></a>
                </div>

            </div>
        </div>
      </div>
    </div>
      <div style="margin: 20px">
{#      <div>#}
          <form id="my_form" method="get">
{#              {% csrf_token %}#}
              <input type="text" name="rec_user" id="rec_text"/>
              <input type="button" id="target_test" class="btn btn-dark btn-xl js-scroll-trigger" value="Rec"/>
          </form>

      </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>our</em>
        Movie Board!</h2>
{#        href="https://startbootstrap.com/template-overviews/stylish-portfolio/"#}
      <button type="button" class="btn btn-primary btn-xl" id="rank_test">Rank</button>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Movie Rank Barplot</h3>
        <h2 class="mb-5">科幻 喜剧 爱情 动作</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
{#                <h2>Stationary</h2>#}
                  <div id="charts_1" style="width:480px;height:300px;"></div>
                <p class="mb-0">科幻电影排行榜</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/bootstrap/img/portfolio-1.jpg" alt="">
          </a>

        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
{#                <h2>Ice Cream</h2>#}
                  <div id="charts_2" style="width:480px;height:300px;"></div>
                <p class="mb-0">喜剧电影排行榜</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/bootstrap/img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
{#                <h2>Strawberries</h2>#}
                  <div id="charts_3" style="width:480px;height:300px;"></div>
                <p class="mb-0">爱情电影排行榜</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/bootstrap/img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
{#                <h2>Workspace</h2>#}
                  <div id="charts_4" style="width:480px;height:300px;"></div>
                <p class="mb-0">动作电影排行榜</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/bootstrap/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center" id="main-gmk" style="width:480px;height:300px;">
      <h2 class="mb-4">Return to the top</h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>

  <!-- Map -->
<!--  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
{#      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.cn/maps/place/%E4%B8%9C%E5%8C%97%E5%A4%A7%E5%AD%A6%E6%B5%91%E5%8D%97%E6%A0%A1%E5%8C%BA/@41.6550621,123.4189565,18z/data=!4m12!1m6!3m5!1s0x5e2f7880422e1e87:0x2432e782e9e8a7f!2z5Lic5YyX5aSn5a2m5rWR5Y2X5qCh5Yy6!8m2!3d41.654996!4d123.41967!3m4!1s0x5e2f7880422e1e87:0x2432e782e9e8a7f!8m2!3d41.654996!4d123.41967"></iframe>#}
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
{#        <a href="https://www.google.cn/maps/place/%E4%B8%9C%E5%8C%97%E5%A4%A7%E5%AD%A6%E6%B5%91%E5%8D%97%E6%A0%A1%E5%8C%BA/@41.6550621,123.4189565,18z/data=!4m12!1m6!3m5!1s0x5e2f7880422e1e87:0x2432e782e9e8a7f!2z5Lic5YyX5aSn5a2m5rWR5Y2X5qCh5Yy6!8m2!3d41.654996!4d123.41967!3m4!1s0x5e2f7880422e1e87:0x2432e782e9e8a7f!8m2!3d41.654996!4d123.41967"></a>#}
    </small>
  </section>
-->
  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/bootstrap/vendor/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/bootstrap/js/stylish-portfolio.min.js"></script>
  <script type=text/javascript src="/static/js/echarts.js"></script>
  <script src="/static/js/jsTest.js"></script>

</body>

</html>
